body{
    background-color: #323232;
}


.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: crimson;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #calculateBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #calculateBtn:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
  }